.navbar {
    margin-bottom: 10px;
  }

.navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  .navbar li {
      display: inline;
      float: left;
      margin-bottom: 0;
  }

  .navbar li a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  .navbar li a:hover {
      color: #8f989f;
  }

  .navbar-text {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar-right {
    float:right;
  }

  a {
      color: #606C76;
  }